# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\workspace\aws-codedeploy-github-actions-deployment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
